<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>calendar</display-name>
  <servlet>
    <servlet-name>calendar</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.rest.resources</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.ImplicitViewables</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
  <servlet-name>main</servlet-name>
  <servlet-class>com.rest.resources.Main</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>    
  <servlet-mapping>
    <servlet-name>calendar</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>405</error-code>
    <location>/errorpage.html</location>
  </error-page>
   <error-page>
    <error-code>404</error-code>
    <location>/errorpage.html</location>
  </error-page>
</web-app>